<%- await include('./views/partials/header.ejs', { title: 'include example', authenticated: authenticated }) %>

<div class="content">

<h1>Report!</h1>

<script src="/static/code.js" defer></script>

<input type="button" id="button" onclick="changeReport()" value="click to fill out an evening report instead"/>

<block style="display:block" id = "morning">

    <h3>morning report</h3>

    <% if(morningDone) { %>
        <p>A morning report for today has already been made</p>
    <% } %>

    <form method="POST">
        <input type="hidden" name="morning" value="1">

        <label for="date1">date</label>
        <input type="date" name="date" id="date1"/>
    
        <label for="sleepdur">sleeping duration</label>
        <input type="number" name="sleep duration" value="<%= sleepDur %>" min="0"step="0.1" id="sleepdur"/>
        
        <label for="sleppqual">sleeping quality</label>
        <input type="number" name="sleep quality" value="<%= sleepQual %>" min = "1" max = "5" id="sleepqual"/>
        
        <label for="generalmood1">general mood</label>    
        <input type="number" name="general mood" value="<%= generalMood %>" min = "1" max = "5" id="generalmood1"/>
        
        <input type="submit" value="Submit!" />
    </form>
</block>

<block style="display:none" id = "evening">

    <h3>evening report</h3>

    <% if(eveningDone) { %>
        <p>An evening report for today has already been made</p>
    <% } %>

    <form method="POST">
        <input type="hidden" name="evening" value="1">

        <label for="date2">date</label>
        <input type="date" name="date" id="date2"/>

        <label for="sportdur">sporting duration</label>
        <input type="number" name="sport duration" value="<%= sportDur %>" min="0" step="0.1" id="sportdur"/>

        <label for="studydur">studying duration</label>
        <input type="number" name="study duration" value="<%= studyDur %>"min = "0" step="0.1" id=studydur/>

        <label for="eatingreg">eating regularity</label>
        <input type="number" name="eating regularity" value="<%= eatingReg %>" min = "1" max = "5" id="eatingreg"/>

        <label for="eatingqual">eating quality</label>
        <input type="number" name="eating quality" value="<%= eatingQual %>" min = "1" max = "5" id="eatingqual"/>

        <label for="generalmood2">general mood</label>
        <input type="number" name="general mood" value="<%= generalMood %>" min = "1" max = "5" id="generalmood2"/>
        
        <input type="submit" value="Submit!" />
        </form>
</block>



</div>

<%- await include('./views/partials/footer.ejs') %>