<%- include('./partials/header.ejs') %>

<div class="content">

<h1>Summary!</h1>

<h2>Monthly Averages:</h2>

<p>Average amount slept: <%= month.sleepDur %></p>

<p>Average sleep quality: <%= month.sleepQual %></p>

<p>Average amount exercised: <%= month.sportDur %></p>

<p>Average amount stduied: <%= month.studyDur %></p>

<p>Average mood: <%= month.generalMood %></p>

<h2>Weekly Averages:</h2>

<p>Average amount slept: <%= week.sleepDur %></p>

<p>Average sleep quality: <%= week.sleepQual %></p>

<p>Average amount exercised: <%= week.sportDur %></p>

<p>Average amount stduied: <%= week.studyDur %></p>

<p>Average mood: <%= week.generalMood %></p>

</div>

<%- include('./partials/footer.ejs') %>