<%- include('./partials/header.ejs') %>

<h1>Summary!</h1>

<p>Average amount slept: <%= month.sleep[0] %></p>

<p>Average sleep quality: <%= month.sleep[1] %></p>

<p>Average amount exercised: <%= month.sportsAndStudy[0] %></p>

<p>Average amount stduied: <%= month.sportsAndStudy[1] %></p>

<p>Average mood: <%= month.mood[0] %></p>

<h2>Weekly Averages</h2>

<p>Average amount slept: <%= week.sleep[0] %></p>

<p>Average sleep quality: <%= week.sleep[1] %></p>

<p>Average amount exercised: <%= week.sportsAndStudy[0] %></p>

<p>Average amount stduied: <%= week.sportsAndStudy[1] %></p>

<p>Average mood: <%= week.mood[0] %></p>

<%- include('./partials/footer.ejs') %>